body {
    background: #676767;
    max-width: 900px;
    margin: auto;
}

.photo {
    border-radius: 50px;
    border: 1px solid #505050;
}

#title, .subtitle, .posttitle {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Verdana;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.posttitle {
    font-family: Verdana, Arial;
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background: #FFF;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 5px;
}

.postcontent {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.postimg {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
}